* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 20px;
}

body {
  font-family: Montserrat;
  background-color: black;
  color: seashell;
}

nav {
  display: flex;
  color: seashell;
  justify-content: space-between;
  height: 69px;
  width: 100%;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid seashell;
  z-index: 100;
  background-color: black;
}

.logo img {
  height: 50px;
  margin-left: 10px;
}

.nav-links {
  list-style: none;
  display: flex;
}

ul.nav-links li {
  font-size: 1rem;
  padding: 0.8rem 1rem;
  text-decoration: underline;
}

/* header  */
header {
    margin-top: 70px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../assets/images/img-mission-background.webp") no-repeat;
    background-size: cover;
    width: 95%;
    margin: 0 auto;
}
.header-content {
    text-align: center;
    background-color: black;
    flex-grow: 1;
    padding: 1rem 1.3rem;
}
.header-content h2 {
    margin-bottom: .7rem;
}

/* main section  */
main {
    max-width: 1000px;
    margin-top: 60px;
    margin: 60px auto ;
    text-align: center;
}

.main-content {
    margin-bottom: 30px;

}

.main-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.food-desc {
    width: 300px;
    height: 200px;
    margin-bottom: 3rem;
}

.food-desc img {
    width: 100%;
}

.food-desc p {
  margin-top: .5rem;  
}